openapi: 3.0.3
info:
  title: FFM Public Api
  version: 1.0.0
  contact: { }
servers:
  - url: https://api.ffm.gobizdev.com
paths:
  /api/orders:
    get:
      tags:
        - Order
      summary: Get Orders
      description: Get Orders
      operationId: getOrders
      parameters:
        - name: code
          in: query
          schema:
            type: string
            example: v0DAISY8qzLCGOU5
        - name: sku_code
          in: query
          schema:
            type: string
            example: AUTOTEST_002
        - name: created_from
          in: query
          schema:
            type: string
            example: '2021-12-15'
        - name: created_to
          in: query
          schema:
            type: string
            example: '2022-04-30'
        - name: tracking_number
          in: query
          schema:
            type: string
            example: YT2227821266032876
        - name: status
          in: query
          schema:
            type: string
            example: WAITING_PROCESSING
        - name: include
          in: query
          schema:
            type: string
            example: shipping_info,creator,order_skus.sku,warehouse
        - name: per_page
          in: query
          schema:
            type: string
            example: '1'
        - name: page
          in: query
          schema:
            type: string
            example: '1'
      responses:
        '200':
          description: Get Orders
          headers:
            Access-Control-Allow-Credentials:
              schema:
                type: string
                example: 'true'
            Access-Control-Allow-Headers:
              schema:
                type: string
                example: '*'
            Access-Control-Allow-Methods:
              schema:
                type: string
                example: GET, POST, PATCH, PUT, DELETE, OPTIONS
            Access-Control-Allow-Origin:
              schema:
                type: string
                example: '*'
            Cache-Control:
              schema:
                type: string
                example: no-cache, private
            Connection:
              schema:
                type: string
                example: keep-alive
            Date:
              schema:
                type: string
                example: Wed, 28 Feb 2024 02:47:17 GMT
            Strict-Transport-Security:
              schema:
                type: string
                example: max-age=15724800; includeSubDomains
            Transfer-Encoding:
              schema:
                type: string
                example: chunked
            X-Powered-By:
              schema:
                type: string
                example: PHP/7.4.26
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: array
                    items:
                      type: object
                      properties:
                        campaign:
                          nullable: true
                          example: null
                        cancel_reason:
                          type: string
                          example: OTHER
                        cod_amount:
                          type: number
                          example: 1000
                        cod_fee_amount:
                          type: number
                          example: 0
                        code:
                          type: string
                          example: '455473502780318'
                        cost_price_fee:
                          type: number
                          example: 0
                        created_at:
                          type: string
                          example: '2024-01-15T04:11:14Z'
                        creator:
                          type: object
                          properties:
                            data:
                              type: object
                              properties:
                                id:
                                  type: number
                                  example: 2
                                name:
                                  type: string
                                  example: Nguyễn Diệp Anh
                        currency:
                          type: string
                          example: VIE
                        description:
                          nullable: true
                          example: null
                        extent_service_amount:
                          type: number
                          example: 0
                        finance_service_status:
                          type: string
                          example: UNPAID
                        id:
                          type: number
                          example: 3010
                        intended_delivery_at:
                          nullable: true
                          example: null
                        midmile_shipping_amount:
                          type: number
                          example: 0
                        order_amount:
                          type: number
                          example: 1000
                        order_skus:
                          type: object
                          properties:
                            data:
                              type: array
                              items:
                                type: object
                                properties:
                                  name:
                                    type: string
                                    example: Dép quai ngang nữ xinh xắn
                                  price:
                                    type: number
                                    example: 1000
                                  quantity:
                                    type: number
                                    example: 1
                                  sku:
                                    type: object
                                    properties:
                                      data:
                                        type: object
                                        properties:
                                          category:
                                            type: object
                                            properties:
                                              data:
                                                type: object
                                                properties:
                                                  code:
                                                    nullable: true
                                                    example: null
                                                  id:
                                                    nullable: true
                                                    example: null
                                                  name:
                                                    nullable: true
                                                    example: null
                                          code:
                                            type: string
                                            example: hhfghfg345
                                          dropship:
                                            type: boolean
                                            example: false
                                          height:
                                            type: number
                                            nullable: true
                                            example: 0.1
                                          id:
                                            type: number
                                            example: 1495
                                          image:
                                            nullable: true
                                            example: null
                                          images:
                                            type: array
                                            items:
                                              type: string
                                              example: >-
                                                https://vn-live.slatic.net/p/91e35b8f6639e629f1ab057dbf5f8a4e.png
                                            example:
                                              - >-
                                                https://vn-live.slatic.net/p/91e35b8f6639e629f1ab057dbf5f8a4e.png
                                              - >-
                                                https://vn-live.slatic.net/p/c7f5a2e95d43bc8c35b1cfb16344f634.jpg
                                          length:
                                            type: number
                                            nullable: true
                                            example: 0.1
                                          name:
                                            type: string
                                            example: Dép quai ngang nữ xinh xắn
                                          price:
                                            type: number
                                            example: 1000
                                          product_id:
                                            type: number
                                            example: 1233
                                          safety_stock:
                                            nullable: true
                                            example: null
                                          status:
                                            type: string
                                            example: ON_SELL
                                          warehouse_stocks:
                                            type: object
                                            properties:
                                              data:
                                                type: array
                                                items:
                                                  type: object
                                                  properties:
                                                    available_inventory:
                                                      type: number
                                                      example: 98
                                                    batch_code:
                                                      type: string
                                                      example: ''
                                                    packing_quantity:
                                                      type: number
                                                      example: 2
                                                    purchasing_quantity:
                                                      type: number
                                                      example: 0
                                                    quantity:
                                                      type: number
                                                      example: 98
                                                    quantity_missing:
                                                      type: number
                                                      example: 0
                                                    real_quantity:
                                                      type: number
                                                      example: 100
                                                    real_quantity_missing:
                                                      type: number
                                                      example: -98
                                                    saleable_quantity:
                                                      type: number
                                                      example: 98
                                                    total_storage_fee:
                                                      type: number
                                                      example: 1760
                                                    warehouse:
                                                      type: object
                                                      properties:
                                                        data:
                                                          type: object
                                                          properties:
                                                            address:
                                                              type: string
                                                              example: 'số 35 phan chu trinh '
                                                            code:
                                                              type: string
                                                              example: HN1
                                                            country_id:
                                                              type: number
                                                              example: 11935
                                                            created_at:
                                                              nullable: true
                                                              example: null
                                                            description:
                                                              nullable: true
                                                              example: null
                                                            district_id:
                                                              type: number
                                                              example: 751
                                                            id:
                                                              type: number
                                                              example: 1
                                                            is_main:
                                                              type: boolean
                                                              example: false
                                                            name:
                                                              type: string
                                                              example: Kho Hà Nội 1
                                                            phone:
                                                              nullable: true
                                                              example: null
                                                            province_id:
                                                              type: number
                                                              example: 35
                                                            settings:
                                                              type: object
                                                              properties:
                                                                NOT_AUTO_CREATE_FREIGHT_BILL:
                                                                  type: number
                                                                  example: 1
                                                                m32_GHN:
                                                                  type: string
                                                                  example: GHN_1
                                                            status:
                                                              type: boolean
                                                              example: true
                                                            tenant_id:
                                                              type: number
                                                              example: 1
                                                            updated_at:
                                                              type: string
                                                              example: '2023-05-22T08:33:15Z'
                                                            ward_id:
                                                              type: number
                                                              example: 11217
                                                example:
                                                  - available_inventory: 98
                                                    batch_code: ''
                                                    packing_quantity: 2
                                                    purchasing_quantity: 0
                                                    quantity: 98
                                                    quantity_missing: 0
                                                    real_quantity: 100
                                                    real_quantity_missing: -98
                                                    saleable_quantity: 98
                                                    total_storage_fee: 1760
                                                    warehouse:
                                                      data:
                                                        address: 'số 35 phan chu trinh '
                                                        code: HN1
                                                        country_id: 11935
                                                        created_at: null
                                                        description: null
                                                        district_id: 751
                                                        id: 1
                                                        is_main: false
                                                        name: Kho Hà Nội 1
                                                        phone: null
                                                        province_id: 35
                                                        settings:
                                                          NOT_AUTO_CREATE_FREIGHT_BILL: 1
                                                          m32_GHN: GHN_1
                                                        status: true
                                                        tenant_id: 1
                                                        updated_at: '2023-05-22T08:33:15Z'
                                                        ward_id: 11217
                                          weight:
                                            type: number
                                            example: 30
                                          width:
                                            type: number
                                            nullable: true
                                            example: 0.1
                                  sku_id:
                                    type: number
                                    example: 1495
                              example:
                                - name: Dép quai ngang nữ xinh xắn
                                  price: 1000
                                  quantity: 1
                                  sku:
                                    data:
                                      category:
                                        data:
                                          code: null
                                          id: null
                                          name: null
                                      code: hhfghfg345
                                      dropship: false
                                      height: 0.1
                                      id: 1495
                                      image: null
                                      images:
                                        - >-
                                          https://vn-live.slatic.net/p/91e35b8f6639e629f1ab057dbf5f8a4e.png
                                        - >-
                                          https://vn-live.slatic.net/p/c7f5a2e95d43bc8c35b1cfb16344f634.jpg
                                      length: 0.1
                                      name: Dép quai ngang nữ xinh xắn
                                      price: 1000
                                      product_id: 1233
                                      safety_stock: null
                                      status: ON_SELL
                                      warehouse_stocks:
                                        data:
                                          - available_inventory: 98
                                            batch_code: ''
                                            packing_quantity: 2
                                            purchasing_quantity: 0
                                            quantity: 98
                                            quantity_missing: 0
                                            real_quantity: 100
                                            real_quantity_missing: -98
                                            saleable_quantity: 98
                                            total_storage_fee: 1760
                                            warehouse:
                                              data:
                                                address: 'số 35 phan chu trinh '
                                                code: HN1
                                                country_id: 11935
                                                created_at: null
                                                description: null
                                                district_id: 751
                                                id: 1
                                                is_main: false
                                                name: Kho Hà Nội 1
                                                phone: null
                                                province_id: 35
                                                settings:
                                                  NOT_AUTO_CREATE_FREIGHT_BILL: 1
                                                  m32_GHN: GHN_1
                                                status: true
                                                tenant_id: 1
                                                updated_at: '2023-05-22T08:33:15Z'
                                                ward_id: 11217
                                      weight: 30
                                      width: 0.1
                                  sku_id: 1495
                                - name: Dép quai ngang nữ xinh xắn
                                  price: 1000
                                  quantity: 1
                                  sku:
                                    data:
                                      category:
                                        data:
                                          code: null
                                          id: null
                                          name: null
                                      code: hhfghfg345
                                      dropship: false
                                      height: null
                                      id: 1515
                                      image: null
                                      images:
                                        - >-
                                          https://vn-live.slatic.net/p/91e35b8f6639e629f1ab057dbf5f8a4e.png
                                        - >-
                                          https://vn-live.slatic.net/p/c7f5a2e95d43bc8c35b1cfb16344f634.jpg
                                      length: null
                                      name: Dép quai ngang nữ xinh xắn
                                      price: 1000
                                      product_id: 1247
                                      safety_stock: null
                                      status: ON_SELL
                                      warehouse_stocks:
                                        data: [ ]
                                      weight: 30
                                      width: null
                                  sku_id: 1515
                        other_fee:
                          type: number
                          example: 0
                        received_cod:
                          type: number
                          example: 0
                        receiver:
                          type: object
                          properties:
                            address:
                              type: string
                              example: 1***************u - Quận Phú Nhuận - Vietnam
                            country:
                              nullable: true
                              example: null
                            district:
                              nullable: true
                              example: null
                            name:
                              type: string
                              example: P**l
                            phone:
                              type: string
                              example: 84********68
                            postal_code:
                              nullable: true
                              example: null
                            province:
                              nullable: true
                              example: null
                            ward:
                              nullable: true
                              example: null
                        ref_code:
                          nullable: true
                          example: null
                        return_goods_amount:
                          type: number
                          example: 600
                        service_amount:
                          type: number
                          example: 400
                        shipping_amount:
                          type: number
                          example: 0
                        shipping_info:
                          type: object
                          properties:
                            data:
                              type: array
                              items:
                                type: object
                                properties:
                                  cod_paid_amount:
                                    type: number
                                    example: 0
                                  shipping_partner:
                                    type: object
                                    properties:
                                      code:
                                        type: string
                                        example: LAZADAlex_vn
                                      name:
                                        type: string
                                        example: LEX VN
                                  status:
                                    type: string
                                    example: WAIT_FOR_PICK_UP
                                  tracking_number:
                                    type: string
                                    example: LMP0238492807VNA
                              example:
                                - cod_paid_amount: 0
                                  shipping_partner:
                                    code: LAZADAlex_vn
                                    name: LEX VN
                                  status: WAIT_FOR_PICK_UP
                                  tracking_number: LMP0238492807VNA
                        status:
                          type: string
                          example: CANCELED
                        total_amount:
                          type: number
                          example: 1000
                        updated_at:
                          type: string
                          example: '2024-01-16T07:10:13Z'
                        warehouse:
                          type: object
                          properties:
                            data:
                              type: object
                              properties:
                                address:
                                  nullable: true
                                  example: null
                                code:
                                  type: string
                                  example: Warehouse_VN
                                country_id:
                                  type: number
                                  example: 11935
                                created_at:
                                  type: string
                                  example: '2024-01-16T02:44:56Z'
                                description:
                                  nullable: true
                                  example: null
                                district_id:
                                  nullable: true
                                  example: null
                                id:
                                  type: number
                                  example: 33
                                is_main:
                                  type: boolean
                                  example: false
                                name:
                                  type: string
                                  example: Warehouse_VN
                                phone:
                                  nullable: true
                                  example: null
                                province_id:
                                  nullable: true
                                  example: null
                                settings:
                                  nullable: true
                                  example: null
                                status:
                                  type: boolean
                                  example: true
                                tenant_id:
                                  type: number
                                  example: 1
                                updated_at:
                                  type: string
                                  example: '2024-01-16T02:44:56Z'
                                ward_id:
                                  nullable: true
                                  example: null
                    example:
                      - campaign: null
                        cancel_reason: OTHER
                        cod_amount: 1000
                        cod_fee_amount: 0
                        code: '455473502780318'
                        cost_price_fee: 0
                        created_at: '2024-01-15T04:11:14Z'
                        creator:
                          data:
                            id: 2
                            name: Nguyễn Diệp Anh
                        currency: VIE
                        description: null
                        extent_service_amount: 0
                        finance_service_status: UNPAID
                        id: 3010
                        intended_delivery_at: null
                        midmile_shipping_amount: 0
                        order_amount: 1000
                        order_skus:
                          data:
                            - name: Dép quai ngang nữ xinh xắn
                              price: 1000
                              quantity: 1
                              sku:
                                data:
                                  category:
                                    data:
                                      code: null
                                      id: null
                                      name: null
                                  code: hhfghfg345
                                  dropship: false
                                  height: 0.1
                                  id: 1495
                                  image: null
                                  images:
                                    - >-
                                      https://vn-live.slatic.net/p/91e35b8f6639e629f1ab057dbf5f8a4e.png
                                    - >-
                                      https://vn-live.slatic.net/p/c7f5a2e95d43bc8c35b1cfb16344f634.jpg
                                  length: 0.1
                                  name: Dép quai ngang nữ xinh xắn
                                  price: 1000
                                  product_id: 1233
                                  safety_stock: null
                                  status: ON_SELL
                                  warehouse_stocks:
                                    data:
                                      - available_inventory: 98
                                        batch_code: ''
                                        packing_quantity: 2
                                        purchasing_quantity: 0
                                        quantity: 98
                                        quantity_missing: 0
                                        real_quantity: 100
                                        real_quantity_missing: -98
                                        saleable_quantity: 98
                                        total_storage_fee: 1760
                                        warehouse:
                                          data:
                                            address: 'số 35 phan chu trinh '
                                            code: HN1
                                            country_id: 11935
                                            created_at: null
                                            description: null
                                            district_id: 751
                                            id: 1
                                            is_main: false
                                            name: Kho Hà Nội 1
                                            phone: null
                                            province_id: 35
                                            settings:
                                              NOT_AUTO_CREATE_FREIGHT_BILL: 1
                                              m32_GHN: GHN_1
                                            status: true
                                            tenant_id: 1
                                            updated_at: '2023-05-22T08:33:15Z'
                                            ward_id: 11217
                                  weight: 30
                                  width: 0.1
                              sku_id: 1495
                            - name: Dép quai ngang nữ xinh xắn
                              price: 1000
                              quantity: 1
                              sku:
                                data:
                                  category:
                                    data:
                                      code: null
                                      id: null
                                      name: null
                                  code: hhfghfg345
                                  dropship: false
                                  height: null
                                  id: 1515
                                  image: null
                                  images:
                                    - >-
                                      https://vn-live.slatic.net/p/91e35b8f6639e629f1ab057dbf5f8a4e.png
                                    - >-
                                      https://vn-live.slatic.net/p/c7f5a2e95d43bc8c35b1cfb16344f634.jpg
                                  length: null
                                  name: Dép quai ngang nữ xinh xắn
                                  price: 1000
                                  product_id: 1247
                                  safety_stock: null
                                  status: ON_SELL
                                  warehouse_stocks:
                                    data: [ ]
                                  weight: 30
                                  width: null
                              sku_id: 1515
                        other_fee: 0
                        received_cod: 0
                        receiver:
                          address: 1***************u - Quận Phú Nhuận - Vietnam
                          country: null
                          district: null
                          name: P**l
                          phone: 84********68
                          postal_code: null
                          province: null
                          ward: null
                        ref_code: null
                        return_goods_amount: 600
                        service_amount: 400
                        shipping_amount: 0
                        shipping_info:
                          data:
                            - cod_paid_amount: 0
                              shipping_partner:
                                code: LAZADAlex_vn
                                name: LEX VN
                              status: WAIT_FOR_PICK_UP
                              tracking_number: LMP0238492807VNA
                        status: CANCELED
                        total_amount: 1000
                        updated_at: '2024-01-16T07:10:13Z'
                        warehouse:
                          data:
                            address: null
                            code: Warehouse_VN
                            country_id: 11935
                            created_at: '2024-01-16T02:44:56Z'
                            description: null
                            district_id: null
                            id: 33
                            is_main: false
                            name: Warehouse_VN
                            phone: null
                            province_id: null
                            settings: null
                            status: true
                            tenant_id: 1
                            updated_at: '2024-01-16T02:44:56Z'
                            ward_id: null
                  meta:
                    type: object
                    properties:
                      pagination:
                        type: object
                        properties:
                          count:
                            type: number
                            example: 1
                          current_page:
                            type: number
                            example: 1
                          links:
                            type: object
                            properties:
                              next:
                                type: string
                                example: https://api.ffm.gobizdev.com/api/orders?page=2
                          per_page:
                            type: number
                            example: 1
                          total:
                            type: number
                            example: 1510
                          total_pages:
                            type: number
                            example: 1510
              examples:
                Get Orders:
                  value:
                    data:
                      - campaign: null
                        cancel_reason: OTHER
                        cod_amount: 1000
                        cod_fee_amount: 0
                        code: '455473502780318'
                        cost_price_fee: 0
                        created_at: '2024-01-15T04:11:14Z'
                        creator:
                          data:
                            id: 2
                            name: Nguyễn Diệp Anh
                        currency: VIE
                        description: null
                        extent_service_amount: 0
                        finance_service_status: UNPAID
                        id: 3010
                        intended_delivery_at: null
                        midmile_shipping_amount: 0
                        order_amount: 1000
                        order_skus:
                          data:
                            - name: Dép quai ngang nữ xinh xắn
                              price: 1000
                              quantity: 1
                              sku:
                                data:
                                  category:
                                    data:
                                      code: null
                                      id: null
                                      name: null
                                  code: hhfghfg345
                                  dropship: false
                                  height: 0.1
                                  id: 1495
                                  image: null
                                  images:
                                    - >-
                                      https://vn-live.slatic.net/p/91e35b8f6639e629f1ab057dbf5f8a4e.png
                                    - >-
                                      https://vn-live.slatic.net/p/c7f5a2e95d43bc8c35b1cfb16344f634.jpg
                                  length: 0.1
                                  name: Dép quai ngang nữ xinh xắn
                                  price: 1000
                                  product_id: 1233
                                  safety_stock: null
                                  status: ON_SELL
                                  warehouse_stocks:
                                    data:
                                      - available_inventory: 98
                                        batch_code: ''
                                        packing_quantity: 2
                                        purchasing_quantity: 0
                                        quantity: 98
                                        quantity_missing: 0
                                        real_quantity: 100
                                        real_quantity_missing: -98
                                        saleable_quantity: 98
                                        total_storage_fee: 1760
                                        warehouse:
                                          data:
                                            address: 'số 35 phan chu trinh '
                                            code: HN1
                                            country_id: 11935
                                            created_at: null
                                            description: null
                                            district_id: 751
                                            id: 1
                                            is_main: false
                                            name: Kho Hà Nội 1
                                            phone: null
                                            province_id: 35
                                            settings:
                                              NOT_AUTO_CREATE_FREIGHT_BILL: 1
                                              m32_GHN: GHN_1
                                            status: true
                                            tenant_id: 1
                                            updated_at: '2023-05-22T08:33:15Z'
                                            ward_id: 11217
                                  weight: 30
                                  width: 0.1
                              sku_id: 1495
                            - name: Dép quai ngang nữ xinh xắn
                              price: 1000
                              quantity: 1
                              sku:
                                data:
                                  category:
                                    data:
                                      code: null
                                      id: null
                                      name: null
                                  code: hhfghfg345
                                  dropship: false
                                  height: null
                                  id: 1515
                                  image: null
                                  images:
                                    - >-
                                      https://vn-live.slatic.net/p/91e35b8f6639e629f1ab057dbf5f8a4e.png
                                    - >-
                                      https://vn-live.slatic.net/p/c7f5a2e95d43bc8c35b1cfb16344f634.jpg
                                  length: null
                                  name: Dép quai ngang nữ xinh xắn
                                  price: 1000
                                  product_id: 1247
                                  safety_stock: null
                                  status: ON_SELL
                                  warehouse_stocks:
                                    data: [ ]
                                  weight: 30
                                  width: null
                              sku_id: 1515
                        other_fee: 0
                        received_cod: 0
                        receiver:
                          address: 1***************u - Quận Phú Nhuận - Vietnam
                          country: null
                          district: null
                          name: P**l
                          phone: 84********68
                          postal_code: null
                          province: null
                          ward: null
                        ref_code: null
                        return_goods_amount: 600
                        service_amount: 400
                        shipping_amount: 0
                        shipping_info:
                          data:
                            - cod_paid_amount: 0
                              shipping_partner:
                                code: LAZADAlex_vn
                                name: LEX VN
                              status: WAIT_FOR_PICK_UP
                              tracking_number: LMP0238492807VNA
                        status: CANCELED
                        total_amount: 1000
                        updated_at: '2024-01-16T07:10:13Z'
                        warehouse:
                          data:
                            address: null
                            code: Warehouse_VN
                            country_id: 11935
                            created_at: '2024-01-16T02:44:56Z'
                            description: null
                            district_id: null
                            id: 33
                            is_main: false
                            name: Warehouse_VN
                            phone: null
                            province_id: null
                            settings: null
                            status: true
                            tenant_id: 1
                            updated_at: '2024-01-16T02:44:56Z'
                            ward_id: null
                    meta:
                      pagination:
                        count: 1
                        current_page: 1
                        links:
                          next: https://api.ffm.gobizdev.com/api/orders?page=2
                        per_page: 1
                        total: 1510
                        total_pages: 1510
    post:
      tags:
        - Order
      summary: Create Order
      description: Create Order
      operationId: createOrder
      requestBody:
        content:
          application/json:
            schema:
              type: object
              required:
                - marketplace
                - receiver_name
                - receiver_address
                - receiver_phone
                - receiver_country_code
                - receiver_province_code
                - receiver_district_code
                - skus
              properties:
                marketplace:
                  type: string
                  example: TIKTOKSHOP
                  description: marketplace Code
                merchant_code:
                  type: string
                  example: shantou
                  description: marchant Code
                campaign:
                  type: string
                  example: cam990088
                  description: Campaign Code
                description:
                  type: string
                  example: note tạm
                  description: Note content
                discount_amount:
                  type: number
                  example: 10
                  description: Total Amount Discount For Order
                freight_bill_code:
                  type: string
                  example: ''
                  description: Tracking Number Order
                intended_delivery_at:
                  type: string
                  example: '2023-01-02T21:11:59Z'
                  description: Intended Delivery Date
                receiver_address:
                  type: string
                  example: Trieu Khuc
                  description: Address of receiver
                receiver_country_code:
                  type: string
                  example: thailand
                  description: Country code of receiver (Mapping With FFM System)
                receiver_district_code:
                  type: string
                  example: THAI_118786
                  description: District code of receiver (Mapping With FFM System)
                receiver_name:
                  type: string
                  example: Hoang Long
                  description: Name of receiver
                receiver_phone:
                  type: string
                  example: '0396822222'
                  description: Phone of receiver
                receiver_postal_code:
                  type: string
                  example: '0099900'
                  description: Postal Code receiver
                receiver_province_code:
                  type: string
                  example: THAI_118785
                  description: Province code of receiver (Mapping With FFM System)
                ref_code:
                  type: string
                  example: aloha115578
                  description: Reference Code
                shipping_partner_code:
                  type: string
                  example: HN-01
                  description: Shipping Partner Code (Ex ShopeeExpress,...)
                skus:
                  type: array
                  items:
                    type: object
                    properties:
                      code:
                        type: string
                        example: 2550426569-1705308794992-0
                        description: Sku Code (Get Code From Detail Product)
                      discount_amount:
                        type: number
                        example: 1000
                        description: Total Amount Discount For This Sku
                      price:
                        type: number
                        example: 123444
                        description: Price Of Sku
                      quantity:
                        type: number
                        example: 2
                        description: Quantity Of Sku
                  example:
                    - code: 2550426569-1705308794992-0
                      discount_amount: 1000
                      price: 123444
                      quantity: 2
                total_amount:
                  type: number
                  example: 300000
                  description: Total Amount For This Order
            examples:
              Create Order:
                value:
                  marketplace: TIKTOKSHOP
                  merchant_code: shantou
                  campaign: cam990088
                  description: note tạm
                  discount_amount: 10
                  freight_bill_code: ''
                  intended_delivery_at: '2023-01-02T21:11:59Z'
                  receiver_address: Trieu Khuc
                  receiver_country_code: thailand
                  receiver_district_code: THAI_118786
                  receiver_name: Hoang Long
                  receiver_phone: '0396822222'
                  receiver_postal_code: '0099900'
                  receiver_province_code: THAI_118785
                  ref_code: aloha115578
                  shipping_partner_code: HN-01
                  skus:
                    - code: 2550426569-1705308794992-0
                      discount_amount: 1000
                      price: 123444
                      quantity: 2
                  total_amount: 300000
      responses:
        '200':
          description: Create Order
          headers:
            Access-Control-Allow-Credentials:
              schema:
                type: string
                example: 'true'
            Access-Control-Allow-Headers:
              schema:
                type: string
                example: '*'
            Access-Control-Allow-Methods:
              schema:
                type: string
                example: GET, POST, PATCH, PUT, DELETE, OPTIONS
            Access-Control-Allow-Origin:
              schema:
                type: string
                example: '*'
            Cache-Control:
              schema:
                type: string
                example: no-cache, private
            Connection:
              schema:
                type: string
                example: keep-alive
            Date:
              schema:
                type: string
                example: Wed, 28 Feb 2024 02:53:22 GMT
            Strict-Transport-Security:
              schema:
                type: string
                example: max-age=15724800; includeSubDomains
            Transfer-Encoding:
              schema:
                type: string
                example: chunked
            X-Powered-By:
              schema:
                type: string
                example: PHP/7.4.26
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: object
                    properties:
                      campaign:
                        type: string
                        example: cam990088
                      cancel_reason:
                        type: string
                        example: OTHER
                      cod_amount:
                        type: number
                        example: 300000
                      cod_fee_amount:
                        type: number
                        example: 0
                      code:
                        type: string
                        example: aloha115578
                      cost_price_fee:
                        type: number
                        example: 0
                      created_at:
                        type: string
                        example: '2024-02-28T02:53:22Z'
                      currency:
                        type: string
                        example: THA
                      description:
                        type: string
                        example: note tạm
                      extent_service_amount:
                        type: number
                        example: 0
                      finance_service_status:
                        type: string
                        example: UNPAID
                      id:
                        type: number
                        example: 3339
                      intended_delivery_at:
                        type: string
                        example: '2023-01-02T14:11:59Z'
                      midmile_shipping_amount:
                        type: number
                        example: 0
                      order_amount:
                        type: number
                        example: 246888
                      other_fee:
                        type: number
                        example: 0
                      received_cod:
                        type: number
                        example: 0
                      receiver:
                        type: object
                        properties:
                          address:
                            type: string
                            example: Trieu Khuc
                          country:
                            type: string
                            example: Thái Lan
                          district:
                            type: string
                            example: Bang Bon
                          name:
                            type: string
                            example: Hoang Long
                          phone:
                            type: string
                            example: '0396822222'
                          postal_code:
                            type: string
                            example: '0099900'
                          province:
                            type: string
                            example: Bangkok
                          ward:
                            nullable: true
                            example: null
                      ref_code:
                        type: string
                        example: aloha115578
                      return_goods_amount:
                        type: number
                        example: 0
                      service_amount:
                        type: number
                        example: 0
                      shipping_amount:
                        type: number
                        example: 0
                      status:
                        type: string
                        example: WAITING_INSPECTION
                      total_amount:
                        type: number
                        example: 300000
                      updated_at:
                        type: string
                        example: '2024-02-28T02:53:22Z'
              examples:
                Create Order:
                  value:
                    data:
                      campaign: cam990088
                      cancel_reason: OTHER
                      cod_amount: 300000
                      cod_fee_amount: 0
                      code: aloha115578
                      cost_price_fee: 0
                      created_at: '2024-02-28T02:53:22Z'
                      currency: THA
                      description: note tạm
                      extent_service_amount: 0
                      finance_service_status: UNPAID
                      id: 3339
                      intended_delivery_at: '2023-01-02T14:11:59Z'
                      midmile_shipping_amount: 0
                      order_amount: 246888
                      other_fee: 0
                      received_cod: 0
                      receiver:
                        address: Trieu Khuc
                        country: Thái Lan
                        district: Bang Bon
                        name: Hoang Long
                        phone: '0396822222'
                        postal_code: '0099900'
                        province: Bangkok
                        ward: null
                      ref_code: aloha115578
                      return_goods_amount: 0
                      service_amount: 0
                      shipping_amount: 0
                      status: WAITING_INSPECTION
                      total_amount: 300000
                      updated_at: '2024-02-28T02:53:22Z'
  /api/orders/{order_code}:
    get:
      tags:
        - Order
      summary: Get Detail Order
      description: Get Detail Order
      operationId: getDetailOrder
      parameters:
        - in: path
          name: order_code
          schema:
            type: string
          required: true
          description: Order Code
        - name: include
          in: query
          schema:
            type: string
            example: >-
              shipping_info,creator,order_skus.sku,warehouse,order_sku_combos.sku_combo
      responses:
        '200':
          description: Get Detail Order
          headers:
            Access-Control-Allow-Credentials:
              schema:
                type: string
                example: 'true'
            Access-Control-Allow-Headers:
              schema:
                type: string
                example: '*'
            Access-Control-Allow-Methods:
              schema:
                type: string
                example: GET, POST, PATCH, PUT, DELETE, OPTIONS
            Access-Control-Allow-Origin:
              schema:
                type: string
                example: '*'
            Cache-Control:
              schema:
                type: string
                example: no-cache, private
            Connection:
              schema:
                type: string
                example: keep-alive
            Date:
              schema:
                type: string
                example: Wed, 28 Feb 2024 02:51:57 GMT
            Strict-Transport-Security:
              schema:
                type: string
                example: max-age=15724800; includeSubDomains
            Transfer-Encoding:
              schema:
                type: string
                example: chunked
            X-Powered-By:
              schema:
                type: string
                example: PHP/7.4.26
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: object
                    properties:
                      campaign:
                        nullable: true
                        example: null
                      cancel_reason:
                        type: string
                        example: OTHER
                      cod_amount:
                        type: number
                        example: 1000
                      cod_fee_amount:
                        type: number
                        example: 0
                      code:
                        type: string
                        example: '455473502780318'
                      cost_price_fee:
                        type: number
                        example: 0
                      created_at:
                        type: string
                        example: '2024-01-15T04:11:14Z'
                      creator:
                        type: object
                        properties:
                          data:
                            type: object
                            properties:
                              id:
                                type: number
                                example: 2
                              name:
                                type: string
                                example: Nguyễn Diệp Anh
                      currency:
                        type: string
                        example: VIE
                      description:
                        nullable: true
                        example: null
                      extent_service_amount:
                        type: number
                        example: 0
                      finance_service_status:
                        type: string
                        example: UNPAID
                      id:
                        type: number
                        example: 3010
                      intended_delivery_at:
                        nullable: true
                        example: null
                      midmile_shipping_amount:
                        type: number
                        example: 0
                      order_amount:
                        type: number
                        example: 1000
                      order_sku_combos:
                        type: object
                        properties:
                          data:
                            type: array
                            items: { }
                            example: [ ]
                      order_skus:
                        type: object
                        properties:
                          data:
                            type: array
                            items:
                              type: object
                              properties:
                                name:
                                  type: string
                                  example: Dép quai ngang nữ xinh xắn
                                price:
                                  type: number
                                  example: 1000
                                quantity:
                                  type: number
                                  example: 1
                                sku:
                                  type: object
                                  properties:
                                    data:
                                      type: object
                                      properties:
                                        category:
                                          type: object
                                          properties:
                                            data:
                                              type: object
                                              properties:
                                                code:
                                                  nullable: true
                                                  example: null
                                                id:
                                                  nullable: true
                                                  example: null
                                                name:
                                                  nullable: true
                                                  example: null
                                        code:
                                          type: string
                                          example: hhfghfg345
                                        dropship:
                                          type: boolean
                                          example: false
                                        height:
                                          type: number
                                          nullable: true
                                          example: 0.1
                                        id:
                                          type: number
                                          example: 1495
                                        image:
                                          nullable: true
                                          example: null
                                        images:
                                          type: array
                                          items:
                                            type: string
                                            example: >-
                                              https://vn-live.slatic.net/p/91e35b8f6639e629f1ab057dbf5f8a4e.png
                                          example:
                                            - >-
                                              https://vn-live.slatic.net/p/91e35b8f6639e629f1ab057dbf5f8a4e.png
                                            - >-
                                              https://vn-live.slatic.net/p/c7f5a2e95d43bc8c35b1cfb16344f634.jpg
                                        length:
                                          type: number
                                          nullable: true
                                          example: 0.1
                                        name:
                                          type: string
                                          example: Dép quai ngang nữ xinh xắn
                                        price:
                                          type: number
                                          example: 1000
                                        product_id:
                                          type: number
                                          example: 1233
                                        safety_stock:
                                          nullable: true
                                          example: null
                                        status:
                                          type: string
                                          example: ON_SELL
                                        warehouse_stocks:
                                          type: object
                                          properties:
                                            data:
                                              type: array
                                              items:
                                                type: object
                                                properties:
                                                  available_inventory:
                                                    type: number
                                                    example: 98
                                                  batch_code:
                                                    type: string
                                                    example: ''
                                                  packing_quantity:
                                                    type: number
                                                    example: 2
                                                  purchasing_quantity:
                                                    type: number
                                                    example: 0
                                                  quantity:
                                                    type: number
                                                    example: 98
                                                  quantity_missing:
                                                    type: number
                                                    example: 0
                                                  real_quantity:
                                                    type: number
                                                    example: 100
                                                  real_quantity_missing:
                                                    type: number
                                                    example: -98
                                                  saleable_quantity:
                                                    type: number
                                                    example: 98
                                                  total_storage_fee:
                                                    type: number
                                                    example: 1760
                                                  warehouse:
                                                    type: object
                                                    properties:
                                                      data:
                                                        type: object
                                                        properties:
                                                          address:
                                                            type: string
                                                            example: 'số 35 phan chu trinh '
                                                          code:
                                                            type: string
                                                            example: HN1
                                                          country_id:
                                                            type: number
                                                            example: 11935
                                                          created_at:
                                                            nullable: true
                                                            example: null
                                                          description:
                                                            nullable: true
                                                            example: null
                                                          district_id:
                                                            type: number
                                                            example: 751
                                                          id:
                                                            type: number
                                                            example: 1
                                                          is_main:
                                                            type: boolean
                                                            example: false
                                                          name:
                                                            type: string
                                                            example: Kho Hà Nội 1
                                                          phone:
                                                            nullable: true
                                                            example: null
                                                          province_id:
                                                            type: number
                                                            example: 35
                                                          settings:
                                                            type: object
                                                            properties:
                                                              NOT_AUTO_CREATE_FREIGHT_BILL:
                                                                type: number
                                                                example: 1
                                                              m32_GHN:
                                                                type: string
                                                                example: GHN_1
                                                          status:
                                                            type: boolean
                                                            example: true
                                                          tenant_id:
                                                            type: number
                                                            example: 1
                                                          updated_at:
                                                            type: string
                                                            example: '2023-05-22T08:33:15Z'
                                                          ward_id:
                                                            type: number
                                                            example: 11217
                                              example:
                                                - available_inventory: 98
                                                  batch_code: ''
                                                  packing_quantity: 2
                                                  purchasing_quantity: 0
                                                  quantity: 98
                                                  quantity_missing: 0
                                                  real_quantity: 100
                                                  real_quantity_missing: -98
                                                  saleable_quantity: 98
                                                  total_storage_fee: 1760
                                                  warehouse:
                                                    data:
                                                      address: 'số 35 phan chu trinh '
                                                      code: HN1
                                                      country_id: 11935
                                                      created_at: null
                                                      description: null
                                                      district_id: 751
                                                      id: 1
                                                      is_main: false
                                                      name: Kho Hà Nội 1
                                                      phone: null
                                                      province_id: 35
                                                      settings:
                                                        NOT_AUTO_CREATE_FREIGHT_BILL: 1
                                                        m32_GHN: GHN_1
                                                      status: true
                                                      tenant_id: 1
                                                      updated_at: '2023-05-22T08:33:15Z'
                                                      ward_id: 11217
                                        weight:
                                          type: number
                                          example: 30
                                        width:
                                          type: number
                                          nullable: true
                                          example: 0.1
                                sku_id:
                                  type: number
                                  example: 1495
                            example:
                              - name: Dép quai ngang nữ xinh xắn
                                price: 1000
                                quantity: 1
                                sku:
                                  data:
                                    category:
                                      data:
                                        code: null
                                        id: null
                                        name: null
                                    code: hhfghfg345
                                    dropship: false
                                    height: 0.1
                                    id: 1495
                                    image: null
                                    images:
                                      - >-
                                        https://vn-live.slatic.net/p/91e35b8f6639e629f1ab057dbf5f8a4e.png
                                      - >-
                                        https://vn-live.slatic.net/p/c7f5a2e95d43bc8c35b1cfb16344f634.jpg
                                    length: 0.1
                                    name: Dép quai ngang nữ xinh xắn
                                    price: 1000
                                    product_id: 1233
                                    safety_stock: null
                                    status: ON_SELL
                                    warehouse_stocks:
                                      data:
                                        - available_inventory: 98
                                          batch_code: ''
                                          packing_quantity: 2
                                          purchasing_quantity: 0
                                          quantity: 98
                                          quantity_missing: 0
                                          real_quantity: 100
                                          real_quantity_missing: -98
                                          saleable_quantity: 98
                                          total_storage_fee: 1760
                                          warehouse:
                                            data:
                                              address: 'số 35 phan chu trinh '
                                              code: HN1
                                              country_id: 11935
                                              created_at: null
                                              description: null
                                              district_id: 751
                                              id: 1
                                              is_main: false
                                              name: Kho Hà Nội 1
                                              phone: null
                                              province_id: 35
                                              settings:
                                                NOT_AUTO_CREATE_FREIGHT_BILL: 1
                                                m32_GHN: GHN_1
                                              status: true
                                              tenant_id: 1
                                              updated_at: '2023-05-22T08:33:15Z'
                                              ward_id: 11217
                                    weight: 30
                                    width: 0.1
                                sku_id: 1495
                              - name: Dép quai ngang nữ xinh xắn
                                price: 1000
                                quantity: 1
                                sku:
                                  data:
                                    category:
                                      data:
                                        code: null
                                        id: null
                                        name: null
                                    code: hhfghfg345
                                    dropship: false
                                    height: null
                                    id: 1515
                                    image: null
                                    images:
                                      - >-
                                        https://vn-live.slatic.net/p/91e35b8f6639e629f1ab057dbf5f8a4e.png
                                      - >-
                                        https://vn-live.slatic.net/p/c7f5a2e95d43bc8c35b1cfb16344f634.jpg
                                    length: null
                                    name: Dép quai ngang nữ xinh xắn
                                    price: 1000
                                    product_id: 1247
                                    safety_stock: null
                                    status: ON_SELL
                                    warehouse_stocks:
                                      data: [ ]
                                    weight: 30
                                    width: null
                                sku_id: 1515
                      other_fee:
                        type: number
                        example: 0
                      received_cod:
                        type: number
                        example: 0
                      receiver:
                        type: object
                        properties:
                          address:
                            type: string
                            example: 1***************u - Quận Phú Nhuận - Vietnam
                          country:
                            nullable: true
                            example: null
                          district:
                            nullable: true
                            example: null
                          name:
                            type: string
                            example: P**l
                          phone:
                            type: string
                            example: 84********68
                          postal_code:
                            nullable: true
                            example: null
                          province:
                            nullable: true
                            example: null
                          ward:
                            nullable: true
                            example: null
                      ref_code:
                        nullable: true
                        example: null
                      return_goods_amount:
                        type: number
                        example: 600
                      service_amount:
                        type: number
                        example: 400
                      shipping_amount:
                        type: number
                        example: 0
                      shipping_info:
                        type: object
                        properties:
                          data:
                            type: array
                            items:
                              type: object
                              properties:
                                cod_paid_amount:
                                  type: number
                                  example: 0
                                shipping_partner:
                                  type: object
                                  properties:
                                    code:
                                      type: string
                                      example: LAZADAlex_vn
                                    name:
                                      type: string
                                      example: LEX VN
                                status:
                                  type: string
                                  example: WAIT_FOR_PICK_UP
                                tracking_number:
                                  type: string
                                  example: LMP0238492807VNA
                            example:
                              - cod_paid_amount: 0
                                shipping_partner:
                                  code: LAZADAlex_vn
                                  name: LEX VN
                                status: WAIT_FOR_PICK_UP
                                tracking_number: LMP0238492807VNA
                      status:
                        type: string
                        example: CANCELED
                      total_amount:
                        type: number
                        example: 1000
                      updated_at:
                        type: string
                        example: '2024-01-16T07:10:13Z'
                      warehouse:
                        type: object
                        properties:
                          data:
                            type: object
                            properties:
                              address:
                                nullable: true
                                example: null
                              code:
                                type: string
                                example: Warehouse_VN
                              country_id:
                                type: number
                                example: 11935
                              created_at:
                                type: string
                                example: '2024-01-16T02:44:56Z'
                              description:
                                nullable: true
                                example: null
                              district_id:
                                nullable: true
                                example: null
                              id:
                                type: number
                                example: 33
                              is_main:
                                type: boolean
                                example: false
                              name:
                                type: string
                                example: Warehouse_VN
                              phone:
                                nullable: true
                                example: null
                              province_id:
                                nullable: true
                                example: null
                              settings:
                                nullable: true
                                example: null
                              status:
                                type: boolean
                                example: true
                              tenant_id:
                                type: number
                                example: 1
                              updated_at:
                                type: string
                                example: '2024-01-16T02:44:56Z'
                              ward_id:
                                nullable: true
                                example: null
              examples:
                Get Detail Order:
                  value:
                    data:
                      campaign: null
                      cancel_reason: OTHER
                      cod_amount: 1000
                      cod_fee_amount: 0
                      code: '455473502780318'
                      cost_price_fee: 0
                      created_at: '2024-01-15T04:11:14Z'
                      creator:
                        data:
                          id: 2
                          name: Nguyễn Diệp Anh
                      currency: VIE
                      description: null
                      extent_service_amount: 0
                      finance_service_status: UNPAID
                      id: 3010
                      intended_delivery_at: null
                      midmile_shipping_amount: 0
                      order_amount: 1000
                      order_sku_combos:
                        data: [ ]
                      order_skus:
                        data:
                          - name: Dép quai ngang nữ xinh xắn
                            price: 1000
                            quantity: 1
                            sku:
                              data:
                                category:
                                  data:
                                    code: null
                                    id: null
                                    name: null
                                code: hhfghfg345
                                dropship: false
                                height: 0.1
                                id: 1495
                                image: null
                                images:
                                  - >-
                                    https://vn-live.slatic.net/p/91e35b8f6639e629f1ab057dbf5f8a4e.png
                                  - >-
                                    https://vn-live.slatic.net/p/c7f5a2e95d43bc8c35b1cfb16344f634.jpg
                                length: 0.1
                                name: Dép quai ngang nữ xinh xắn
                                price: 1000
                                product_id: 1233
                                safety_stock: null
                                status: ON_SELL
                                warehouse_stocks:
                                  data:
                                    - available_inventory: 98
                                      batch_code: ''
                                      packing_quantity: 2
                                      purchasing_quantity: 0
                                      quantity: 98
                                      quantity_missing: 0
                                      real_quantity: 100
                                      real_quantity_missing: -98
                                      saleable_quantity: 98
                                      total_storage_fee: 1760
                                      warehouse:
                                        data:
                                          address: 'số 35 phan chu trinh '
                                          code: HN1
                                          country_id: 11935
                                          created_at: null
                                          description: null
                                          district_id: 751
                                          id: 1
                                          is_main: false
                                          name: Kho Hà Nội 1
                                          phone: null
                                          province_id: 35
                                          settings:
                                            NOT_AUTO_CREATE_FREIGHT_BILL: 1
                                            m32_GHN: GHN_1
                                          status: true
                                          tenant_id: 1
                                          updated_at: '2023-05-22T08:33:15Z'
                                          ward_id: 11217
                                weight: 30
                                width: 0.1
                            sku_id: 1495
                          - name: Dép quai ngang nữ xinh xắn
                            price: 1000
                            quantity: 1
                            sku:
                              data:
                                category:
                                  data:
                                    code: null
                                    id: null
                                    name: null
                                code: hhfghfg345
                                dropship: false
                                height: null
                                id: 1515
                                image: null
                                images:
                                  - >-
                                    https://vn-live.slatic.net/p/91e35b8f6639e629f1ab057dbf5f8a4e.png
                                  - >-
                                    https://vn-live.slatic.net/p/c7f5a2e95d43bc8c35b1cfb16344f634.jpg
                                length: null
                                name: Dép quai ngang nữ xinh xắn
                                price: 1000
                                product_id: 1247
                                safety_stock: null
                                status: ON_SELL
                                warehouse_stocks:
                                  data: [ ]
                                weight: 30
                                width: null
                            sku_id: 1515
                      other_fee: 0
                      received_cod: 0
                      receiver:
                        address: 1***************u - Quận Phú Nhuận - Vietnam
                        country: null
                        district: null
                        name: P**l
                        phone: 84********68
                        postal_code: null
                        province: null
                        ward: null
                      ref_code: null
                      return_goods_amount: 600
                      service_amount: 400
                      shipping_amount: 0
                      shipping_info:
                        data:
                          - cod_paid_amount: 0
                            shipping_partner:
                              code: LAZADAlex_vn
                              name: LEX VN
                            status: WAIT_FOR_PICK_UP
                            tracking_number: LMP0238492807VNA
                      status: CANCELED
                      total_amount: 1000
                      updated_at: '2024-01-16T07:10:13Z'
                      warehouse:
                        data:
                          address: null
                          code: Warehouse_VN
                          country_id: 11935
                          created_at: '2024-01-16T02:44:56Z'
                          description: null
                          district_id: null
                          id: 33
                          is_main: false
                          name: Warehouse_VN
                          phone: null
                          province_id: null
                          settings: null
                          status: true
                          tenant_id: 1
                          updated_at: '2024-01-16T02:44:56Z'
                          ward_id: null
    put:
      tags:
        - Order
      summary: Update Order
      description: Update Order
      operationId: updateOrder
      parameters:
        - in: path
          name: order_code
          schema:
            type: string
          required: true
          description: Order Code
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                code:
                  type: string
                  example: aloha115578
                merchant_code:
                  type: string
                  example: shantou
                status:
                  type: string
                  example: ''
                description:
                  type: string
                  example: note tạm
                  description: Note content
                receiver_address:
                  type: string
                  example: Trieu Khuc
                  description: Address of receiver
                receiver_country_code:
                  type: string
                  example: thailand
                  description: Country code of receiver (Mapping With FFM System)
                receiver_district_code:
                  type: string
                  example: THAI_118786
                  description: District code of receiver (Mapping With FFM System)
                receiver_name:
                  type: string
                  example: Hoang Long
                  description: Name of receiver
                receiver_phone:
                  type: string
                  example: '0396822222'
                  description: Phone of receiver
                receiver_postal_code:
                  type: string
[...]
